<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe App - Add Recipe</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="mihai.recipeapp.domain.Recipe"*/-->
<div class="container-fluid" style="margin: 20px">
    <div class="form-row">
        <div class="col-md-6 offset-md-3">
            <form  th:object="${recipe}" th:action="@{/recipe/}"  method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="card-row">
                    <div class="card border-primary">
                        <div class="card-header bg-primary">
                            <h1 class="card-title">Edit Recipe Information</h1>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-3 form-group">
                                    <label>Recipe Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 form-group">
                                    <label>Categories:</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Prep Time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Cooktime:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Difficulty:</label>
                                    <select class="form-control">
                                        <option>Easy</option>
                                        <option>Medium</option>
                                        <option>Hard</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Servings:</label>
                                    <input type="text" class="form-control" th:field="*{servings}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-white border-primary"  style="margin-top: 20px">
                        <div class="card-header bg-primary">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h1 class="panel-title">Ingredients</h1>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-light" href="#" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <ul>
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.getDescription() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-white border-primary"  style="margin-top: 20px">
                        <div class="card-header bg-primary">
                            <h1 class="card-title">Directions</h1>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-white border-primary" style="margin-top: 20px">
                        <div class="card-header bg-primary">
                            <h1 class="card-title">Notes</h1>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 20px">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>