<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe App - Index Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin: 20px">
    <div class="form-row">
        <div class="col-md-6 offset-md-3">
            <!--/*@thymesVar id="ingredient" type="mihai.recipeapp.commands.IngredientCommand"*/-->
            <form th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient'} " method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="card-body">
                    <div class="card border-primary">
                        <div class="card-header bg-primary">
                            <h1 class="card-title">Edit Ingredient Information</h1>
                        </div>
                        <div class="card-body border-primary">
                            <div class="form-row">
                                <div class="col-md-3 form-control-plaintext">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>
                                <div class="col-md-3 form-control-plaintext">
                                    <label>Amount:</label>
                                    <input type="number" class="form-control" th:field="*{amount}"/>
                                </div>
                                <div class="col-md-3 form-control-plaintext">
                                    <label>UOM:</label>
                                    <select type="text" class="form-control" name="uom.id">
                                        <option th:each="uomEach : ${uomList}"
                                                th:value="${uomEach.id}"
                                                th:selected="${uomEach.id.equals(ingredient.uom.id)}"
                                                th:text="${uomEach.description}">Each
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                <button type="submit" class="btn-primary" style="margin-top: 20px">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>